{% load i18n %}
{% load placeholder %}
{% load get_thumbnail from blog_images %}

<div class="container">
   <div class="row">
    {% for entry in entries %}
        <div class="col-12 col-sm-6">
                    {% if entry.image %}
                        <a href="{{ entry.get_absolute_url }}">
                            <!--  <img class="img-fluid" src="{{ entry.image.url }}" alt="{{ entry.image_caption | default:entry.title}}"> -->
                            <img class="img-responsive lazyload lazypreload"
                                    data-src="{% get_thumbnail entry.image method="crop" size=255 %}"
                                    data-srcset="{% get_thumbnail entry.image method="crop" size=255 %} 1x,
                                                  {% get_thumbnail entry.image method="crop" size=510 %} 2x"
                                    alt="{{ entry.image_caption | default:entry.title}}"
                                    src="{% get_thumbnail entry.image method="crop" size=255 %}"
                        </a>
                    {% else %}
                        <a href="{{ entry.get_absolute_url }}">
                                <img class="img-responsive lazyload lazypreload" src="{% placeholder size=255 %}" alt="{{ entry.image_caption | default:entry.title}}">
                        </a>
                    {% endif %}
                    <div class="caption">
                        <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a>
                    </div>
        </div>
    {% endfor %}
</div>
    </div>