{% load i18n %}
{% load placeholder %}
{% load get_thumbnail from blog_images %}

<div class="container-fluid">
   <div class="row">
    {% for entry in entries %}
        <div class="col-12 col-sm-6">
            <div class="card">
                    <div class="card-header">
                        <a href="{{ entry.get_absolute_url }}">
                            {{ entry.title }}
                        </a>
                    </div>
                    {% if entry.image %}
                        <a href="{{ entry.get_absolute_url }}">
                            <img class="card-img-top lazyload lazypreload"
                                    data-src="{% get_thumbnail entry.image method="crop" size=255 %}"
                                    data-srcset="{% get_thumbnail entry.image method="crop" size=255 %} 1x,
                                                  {% get_thumbnail entry.image method="crop" size=510 %} 2x"
                                    alt="{{ entry.image_caption | default:entry.title}}"
                                    src="{% get_thumbnail entry.image method="crop" size=255 %}"
                        </a>
                    {% else %}
                        <a href="{{ entry.get_absolute_url }}">
                                <img class="card-img-top lazyload lazypreload" src="{% placeholder size=255 %}" alt="{{ entry.image_caption | default:entry.title}}">
                        </a>
                    {% endif %}
                    <!--
                    <div class="card-body">
                        <a href="{{ entry.get_absolute_url }}">
                            <p class="card-text"> {{ entry.lead }} </p>
                        </a>
                    </div>
                    -->
            </div>
        </div>
    {% endfor %}
    </div>
</div>