{% load i18n %}
{% load placeholder %}
{% load get_thumbnail from blog_images %}

<div class="container">
   <div class="row">
    {% for entry in entries %}
        <div class="col-12 col-sm-6">
            <div class="card">
                    {% if entry.image %}
                        <a href="{{ entry.get_absolute_url }}">
                            <!--  <img class="img-fluid" src="{{ entry.image.url }}" alt="{{ entry.image_caption | default:entry.title}}"> -->
                            <img class="card-img-top lazyload lazypreload"
                                    data-src="{% get_thumbnail entry.image method="crop" size=255 %}"
                                    data-srcset="{% get_thumbnail entry.image method="crop" size=255 %} 1x,
                                                  {% get_thumbnail entry.image method="crop" size=510 %} 2x"
                                    alt="{{ entry.image_caption | default:entry.title}}"
                                    src="{% get_thumbnail entry.image method="crop" size=255 %}"
                        </a>
                    {% else %}
                        <a href="{{ entry.get_absolute_url }}">
                                <img class="card-img-top lazyload lazypreload" src="{% placeholder size=255 %}" alt="{{ entry.image_caption | default:entry.title}}">
                        </a>
                    {% endif %}
                    <div class="card-body">
                         <p class="card-text"> "{{ entry.title }}" </p>
                    </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>